*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.header{
height: 60px;
padding: 8px;
}
.header a{
    color: #fff;
    text-decoration: none;
    font-size: 22px;
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    display: block;
    border: 1px solid #FFF;
    width: fit-content;
    padding: 5px;
    border-radius: 6px;
}
.section{
    height: 100vh;
    background-image: url('./img/istockphoto-1303641957-612x612.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: white;
}
.section .logo img{
    width: 300px;
}
.section .title h1{
    font-size: 100px;
}
.informaition{ 
    padding: 15px 0;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.informaition .icon-w img{
    width: 110px;
}
.informaition .heading{
    text-align: center;
}
.informaition .botton{
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    flex-direction: column-reverse;
} 
.informaition .botton p{
    font-size: 22px;
}
.slider-img{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.carousel.slide{
    width: 70%;
}
.slider-img .para{
    font-size: 22px;
    text-align: center;
    font-weight: 600;
    max-width: 950px;
    margin-top: 20px;
}
.ditels{
    text-align: center;
    color: #fff;
}
.ditels .paragh{
    border: 1px solid #FFF;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
    padding: 6px;
}
.footer{
    height: 130px;
    line-height: 130px;
    position: relative;
}
.footer a{
    display: inline-block;
}
.footer p{
    font-size: 20px;
    text-align: right;
}
.footer .icon-w{
    height: 50px;
    position: absolute;
    top: -5px;
    width: 50%;
}
.footer .icon-w img{
    width: 60px;
}